<!DOCTYPE html>
{% from tornado.options import options %}
<html>
  <head>
    <title>Fdp</title>
    <meta charset="utf-8">
    <link href="http://fonts.googleapis.com/css?family=Luckiest+Guy|Roboto" rel='stylesheet' type='text/css'>
    <link href="{{ static_url('css/fdp.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ static_url('css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ static_url('css/magnific-popup.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ static_url('css/jquery-ui.css') }}" rel="stylesheet" type="text/css">
  </head>
  <body {% if options.debug %}data-debug="true"{% end %}>
    <h1>Fdp</h1>
    <main>
      {% block main %}{% end %}
    </main>
    <script src="{{ static_url('js/jquery.min.js') }}"></script>
    <script src="{{ static_url('js/jquery-ui.min.js') }}"></script>
    <script src="{{ static_url('js/magnific-popup.min.js') }}"></script>
    <script src="{% if options.debug %}{{ static_url('js/fdp.js') }}{% else %}{{ static_url('js/fdp.min.js') }}{% end %}"></script>
  </body>
</html>
