{% extends _layout.html %}

{% block main %}

  <form action="{{ reverse_url('Upload') }}" class="dropzone" id="uploader">
    <input type="file" name="file" id="hidden-uploader"/>
  </form>

  <div class="source"></div>
  <div class="target"></div>

  <div class="download" data-url="{{ reverse_url('Merge') }}">
    <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored hidden">
      <i class="material-icons">file_download</i>
    </button>
    <div class="mdl-progress mdl-js-progress hidden"></div>
  </div>

  <i class="material-icons rotate-left hidden">rotate_left</i>
  <i class="material-icons rotate-right hidden">rotate_right</i>
  <i class="material-icons remove-circle hidden">remove_circle</i>
{% end %}
