{% extends _layout.html %}

{% block main %}

  <form action="{{ reverse_url('Upload') }}" class="dropzone" id="uploader">
    <input type="file" name="file" id="hidden-uploader"/>
  </form>

  <div class="source"></div>
  <div class="target"></div>

  <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored hidden rotate-right">
    <i class="material-icons">add</i>
  </button>

  <div class="download">
    <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored hidden">
      <i class="material-icons">file_download</i>
    </button>
  </div>

{% end %}
