h1, h2, h3, h4, h5, h6 {
  font-family: 'Luckiest Guy', cursive !important;
}

h1 {
  font-size: 40pt;
}

h4 {
  text-align: center;
}

body {
  font-family: 'Roboto', serif;
}

#hidden-uploader {
  display: none;
}

.target {
  position: relative;
  margin: 10px 0;
  min-height: 150px;
  width: 100%;
}

.source {
  margin: 10px 0;
  min-height: 150px;
  width: 100%;
}

.source > div, .target > div {
  float: left;
  margin: 0 28px;
  position: relative;
}

.source > div > img, .target > div > img {
  height: 150px;
}

.placeholder {
  height: 150px;
  width: 100px;
}

.remove-circle, rotate-left, .rotate-right {
  position: absolute;
}

.rotate-left, .rotate-right {
  top: 55px
}

.material-icons {
  cursor: pointer;
}

.download {
  margin: 0 auto;
  width: 60px;
}

.pdf-page {
  float: left;
}

.progress-bar {
  position: fixed !important;
  left: 0;
  top: 0;
  width: 100% !important;
}
